### IntelliJ IDEA ###
.idea/
*.iml
*.imi
.idea/dataSources.xml
.idea/vcs.xml
.idea/libraries/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### 라이브러리 관련 ###
lib/*.jar
